*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    font-family: 'Roboto Slab', serif;
    background-color: wheat;

}
.main{
    background-color: white;
    
    margin: 10px;
    
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
.orange-color{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    padding: 40px;
    margin: 5%;
}
.clear{
    clear: both;
}
.half-width img{
    width: 100%;
}

.top-baner{
    background-repeat: no-repeat;
    background-image: url("image/top-banner.png");
}
.dream-baner{
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100px;
}
section{
    height: 500px;
}
.buton{
    background-color: orange;
    border: none;
    padding: 8px 15px; 
    border-radius: 5px;  
    
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 60%;
    background-color: white;
    
}
.exp_baner{
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: left 50%;
}
.h22{
    
    text-align: center;
    color:teal;
}
.single-experience:hover{
    box-shadow: 10px 10px 40px black;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
.foot{
    text-align: center;
}